body {
    background-color: rgb(20,20,20);
    color: rgb(220,220,220);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-small;
}
.website {
    display: flex;
    flex-wrap: nowrap;
}
.favorites {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}
.favorites div {
    background-color: rgb(50,50,50);
    align-self: center;
    width: 150px;
    padding: 3px;
}
#selected {
    background-color: rgb(80,80,80);
}

.food-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
}
.food-list div {
    background-color: rgb(50,50,50);
    flex: 10;
    text-align: center;
    padding: 20px;
    margin: 10px;
    height: fit-content;
}
.food-list p {
    color: rgb(180,180,180);
}
.food-list img {
    object-fit: cover;
    min-width: 150px;
    width: 100%;
    height: fit-content;  
    border: 3px solid #888;
}

.ads {
    display: block;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(50,50,50);
    text-align: center;
}
.ads p {
    color: #aaa;
    font-style:italic;
}
.ads h2 {
    text-align: center;
}
.ads img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}


.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
  border-style: solid;
  border-width: 5px;
  border-color: red;
}
.flex-item {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  padding: 10px;
}
